@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-50: #fff5f5;
  --brand-100: #ffe5e5;
  --brand-200: #ffb8b8;
  --brand-300: #ff8a8a;
  --brand-400: #ff7474;
  --brand-500: #ff6b6b;
  --brand-600: #e25c5c;
  --brand-700: #c24e4e;
  --brand-800: #a43f3f;
  --brand-900: #7c2c2c;
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
}
